<div class="ui sidebar inverted vertical accordion menu segment uncover visible">
    <div id="BarraCatalogo" class="item">
        <a class="title">
            <i class="dropdown icon"></i>
            Catálogos
        </a>
        <div class="content">
            <div class="ui form">
                <div class="grouped fields">
                    <a id="mCliente" class="item" routerLink="./cliente">Cliente</a>
                    <a id="mFactura" class="item" routerLink="./factura">Factura</a>
                    <a id="mUsuario" class="item" routerLink="./usuario">Usuario</a>
                </div>
            </div>
        </div>
    </div>
</div>