<div class="ui sidebar inverted vertical accordion menu segment">

    <div id="BarraCatalogo" class="item">
        <a class="title header ">
            <i class="dropdown header"></i>
            Catálogos
        </a>
        <div class="content">
            <!-- <a id="mCliente" class="item" routerLink="/cliente" routerLinkActive="active">Cliente</a> -->
            <a id="mCliente" class="item" routerLink="/persona" routerLinkActive="active">Persona</a>
            <a id="mCliente" class="item" routerLink="/empresa" routerLinkActive="active">Empresa</a>
            <a id="mFactura" class="item" routerLink="/factura" routerLinkActive="active">Factura</a>
            <a id="mUsuario" class="item" routerLink="/usuario" routerLinkActive="active">Usuario</a>
        </div>
    </div>
</div>