<br>
<div class="ui container">
    <h4 class="ui dividing header">
        <i class="id card outline icon"></i>
        <div class="content">
            Contabilidad
        </div>
    </h4>

    <div class="ui top attached secondary menu">

        <div class="ui  aligned category search item">
            <div class="ui transparent icon input">
                <input class="prompt" type="text" placeholder="Buscar..." [(ngModel)]="busqueda">
                <i class="search link icon"></i>
            </div>
            <div class="results"></div>
        </div>

        <div class="right menu">

            <div class="ui item toggle checkbox">
                <input type="checkbox" (click)="CargarDatos()" name="Estado" [(ngModel)]="chkEstado">
                <label>Todo</label>
            </div>

            <a class="ui  icon item msjflotante" routerLink="/factura-new" data-content="Agregar" data-variation="mini">
                <i class="plus blue icon"></i>
            </a>
        </div>


    </div>
    <div class="ui bottom attached basic segment">

        <table class="ui sortable grey small basic table">
            <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Final</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contabilidad | filter:[{field:'Nombre', value: busqueda},{field:'SAT', value: busqueda},{field:'FechaInicio', value: busqueda}] | paginate: { itemsPerPage: NoItemsPagina, currentPage: PaginaActual }"
                    [ngClass]="{'negative': conta.Estado!='A'}">
                    <td><a routerLink="#" (click)="Seleccionar(conta.idContabilidad)">{{conta.empresa_Nombre}}</a></td>
                    <td>{{conta.FechaInicio|date:"dd/MM/yyy"}}</td>
                    <td>{{conta.FechaFin|date:"dd/MM/yyy"}}</td>


                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">
                        <pagination-controls (pageChange)="PaginaActual = $event" previousLabel="Anterior"
                            nextLabel="Siguiente" maxSize="9" class="ui right floated">
                        </pagination-controls>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>