<h4 class="ui dividing header">
    <i class="id card outline icon"></i>
    <div class="content">
        Clientes
    </div>
</h4>

<div class="ui top attached secondary menu">

    <div class="ui  aligned category search item">
        <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Buscar..." [(ngModel)]="buscarCliente">
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="right menu">

        <div class="ui item toggle checkbox">
            <input type="checkbox" (click)="VerTodos()" name="Estado" [(ngModel)]="chkEstado">
            <label>Inactivos</label>
        </div>

        <a class="ui  icon item msjflotante" routerLink="/cliente-nuevo" data-content="Agregar" data-variation="mini">
            <i class="plus blue icon"></i>
        </a>

    </div>


</div>
<div class="ui bottom attached basic segment">

    <table class="ui grey small very basic table">
        <thead>
            <tr>
                <th>Nit</th>
                <th>Nombre razón social</th>
                <th>Propietario</th>
                <th>SAT</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of respClientes | filter:[{field:'Nombre', value: buscarCliente},{field:'Nit', value: buscarCliente},{field:'Propietario', value: buscarCliente},{field:'SAT', value: buscarCliente}] | paginate: { itemsPerPage: NoItemsPagina, currentPage: PaginaActual }"
                [ngClass]="{'negative': cliente.Estado!='A'}">
                <td><a routerLink="/cliente-ver" (click)="Seleccionado(cliente.idCliente)">{{cliente.Nit}}</a></td>
                <td>{{cliente.Nombre}}</td>
                <td>{{cliente.Propietario}}</td>
                <td>{{cliente.SAT}}</td>
                <!--  <td>
                    <a routerLink="../Cliente-Ver"> <i class="large grey search icon" data-content="Ver"
                        data-variation="mini"></i>
                </a> 
                    <a routerLink="../cliente/edit" (click)="Seleccionado(cliente.idCliente)" class="msjflotante">
                        <i class="large grey pencil alternate icon " data-content="Editar"
                            data-variation="mini"></i></a>
                </td> -->

            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">
                    <pagination-controls (pageChange)="PaginaActual = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" maxSize="9" class="ui right floated">
                    </pagination-controls>
                </th>
            </tr>
        </tfoot>
    </table>
</div>