<br>
<div class="ui container">
    <form [formGroup]="FormFactura" (ngSubmit)="Guardar()" class="ui small form">
        <h4 class="ui dividing header">
            <i class="id badge outline icon"></i>
            <div class="content">
                Factura - {{factura.NumeroDoc}}
            </div>
        </h4>
        <div class="ui top attached secondary menu">
            <a class="ui icon item msjflotante" routerLink="#" (click)="Seleccionar(id)" data-content="Atrás"
                data-variation="mini">
                <i class="chevron left blue icon"></i>
            </a>
            <div class="right menu">
                <a class="ui icon item msjflotante" (click)="ModalActivar()" data-content="Activar"
                    data-variation="mini" [ngClass]="{'reveal': !(factura.Estado!='A')}">
                    <i class="sync blue icon"></i>
                </a>
                <a class="ui icon item msjflotante" (click)="ModalEliminar();" data-content="Eliminar"
                    data-variation="mini" [ngClass]="{'reveal': factura.Estado!='A'}">
                    <i class="trash alternate outline blue icon"></i>
                </a>

                <a class="ui icon item msjflotante" routerLink="/factura-new" data-content="Nuevo"
                    data-variation="mini">
                    <i class="plus blue icon"></i>
                </a>
            </div>
        </div>
        <div class="ui bottom attached basic segment">
            <div class="fields">

                <div class="nine wide field">
                    <h4><label>{{factura.empresa_Nombre}}</label></h4>
                </div>

                <div class="inline fields" [ngClass]="{'error': FCont.TipoFactura.invalid && submit}">
                    <label>¿Tipo de factura?</label>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" value="Compra" checked="checked" formControlName="TipoFactura">
                            <label>Compra</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui radio checkbox">
                            <input type="radio" value="Venta" formControlName="TipoFactura">
                            <label>Venta</label>
                        </div>
                    </div>
                </div>


            </div>


            <div class="fields">
                <div class="three wide field" name="Fecha"
                    [ngClass]="{'error': FCont.Fecha.invalid && FormFactura.dirty}">
                    <label>Fecha</label>
                    <input type="date" name="Fecha" formControlName="Fecha">
                </div>
                <div class="three wide field" [ngClass]="{'error': FCont.NumeroDoc.invalid && submit}">
                    <label>Número</label>
                    <input type="text" name="NumeroDoc" formControlName="NumeroDoc">
                </div>
                <div class="eight wide field" [ngClass]="{'error': FCont.idCuenta.invalid && submit}">
                    <label>Cuenta</label>
                    <select class=" ui search dropdown" name="idCuenta" formControlName="idCuenta">
                        <option value="0">Seleccione...</option>
                        <option *ngFor="let cuenta of cuentas" value="{{cuenta.idCuenta}}">{{cuenta.Descripcion}}
                            {{cuenta.Apellidos}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="fields">
                <div class="three wide field">
                    <label>Serie</label>
                    <input rows="2" type="text" name="Serie" formControlName="Serie">
                </div>
                <div class="three wide field" [ngClass]="{'error': FCont.NitClienteFactura.invalid && submit}">
                    <label>Nit</label>
                    <input type="text" name="NitClienteFactura" formControlName="NitClienteFactura">
                </div>

                <div class="eight wide field" [ngClass]="{'error': FCont.NombreClienteFactura.invalid && submit}">
                    <label>Nombre cliente</label>
                    <input type="text" name="NombreClienteFactura" formControlName="NombreClienteFactura">
                </div>
                <div class="two wide field" [ngClass]="{'error': FCont.Total.invalid && submit}">
                    <label>Total</label>
                    <input type="text" name="Total" formControlName="Total">
                </div>

            </div>
            <div class="ui center aligned grid">
                <div class="center aligned one column row">
                    <div class="column">
                        <button class="ui tiny green basic button" type="submit">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div id="modalEliminarVer" class="ui basic tiny modal">
        <div class="ui icon header">
            <i class="trash icon"></i>
            Eliminar factura
        </div>
        <div class="content">
            <p>¿Deseas eliminar la factura?</p>
        </div>
        <div class="actions">
            <button class="ui red cancel inverted button">
                <i class="remove icon"></i>
                No
            </button>
            <button class="ui green ok inverted button" (click)="Eliminar()">
                <i class="checkmark icon"></i>
                SI
            </button>
        </div>
    </div>
    <div id="modalActivar" class="ui basic tiny modal">
        <div class="ui icon header">
            <i class="sync icon"></i>
            Activar factura
        </div>
        <div class="content">
            <p>¿Deseas activar la factura?</p>
        </div>
        <div class="actions">
            <button class="ui red cancel inverted button">
                <i class="remove icon"></i>
                No
            </button>
            <button class="ui green ok inverted button" (click)="Activar()">
                <i class="checkmark icon"></i>
                SI
            </button>
        </div>
    </div>

</div>