<h4 class="ui dividing header">
    <i class="id card outline icon"></i>
    <div class="content">
        Empresas
    </div>
</h4>

<div class="ui top attached secondary menu">

    <div class="ui  aligned category search item">
        <div class="ui transparent icon input">
            <input class="prompt" type="text" placeholder="Buscar..." [(ngModel)]="busqueda">
            <i class="search link icon"></i>
        </div>
        <div class="results"></div>
    </div>
    <div class="right menu">

        <div class="ui item toggle checkbox">
            <input type="checkbox" (click)="CargarDatos()" name="Estado" [(ngModel)]="chkEstado">
            <label>Inactivos</label>
        </div>

        <a class="ui  icon item msjflotante" routerLink="/empresa-new" data-content="Agregar" data-variation="mini">
            <i class="plus blue icon"></i>
        </a>

    </div>


</div>
<div class="ui bottom attached basic segment">

    <table class="ui grey small very basic table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Propietario</th>
                <th>Régimen</th>
                <th>SAT</th>
                <th>Fecha de inicio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let empresa of empresas | filter:[{field:'Nombre', value: busqueda},{field:'SAT', value: busqueda},{field:'FechaInicio', value: busqueda}] | paginate: { itemsPerPage: NoItemsPagina, currentPage: PaginaActual }"
                [ngClass]="{'negative': empresa.Estado!='A'}">
                <td><a routerLink="#" (click)="Seleccionar(empresa.idEmpresa)">{{empresa.Nombre}}</a></td>
                <td>{{empresa.persona_Nombres}} {{empresa.persona_Apellidos}}</td>
                <td>{{empresa.regimen_Nombre}}</td>
                <td>{{empresa.SAT}}</td>
                <td>{{empresa.FechaInicio|date:"dd/MM/yyy"}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">
                    <pagination-controls (pageChange)="PaginaActual = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" maxSize="9" class="ui right floated">
                    </pagination-controls>
                </th>
            </tr>
        </tfoot>
    </table>
</div>